body
  // padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

.alert
  margin-top: 8px
  margin-bottom: 8px

h2
  margin-top: 0px

.nav, .pagination, .carousel, .panel-title, a
  cursor: pointer
