<form class="student-form">
    <h3>Add New Student</h3>

    <br>
    <label>Name:</label>
    <input type="text" class="form-control" ng-model="newStudent.name" placeholder="First name Last name" required="" autofocus="" /> 

    <br>

    <div class="form-group" name="addStudentForm">
        <label for="sel1">Program:</label>
        <select class="form-control" id="sel1" ng-model="newStudent.program">
            <option value="Little Spring">Little Spring</option>
            <option value="Junior Spring">Junior Spring</option>
            <option value="Big Spring">Big Spring</option>
            <option value="Baby Spring">Baby Spring</option>
        </select>
    </div>


    <!-- http://www.bootstrap-switch.org/ if we want to be fancy B-) -->
    <label>Archived:</label> <br>

    <label class="radio-inline"><input ng-model = "newStudent.archived" type="radio" name="optradio" value = "true">Yes</label>
    <label class="radio-inline"><input ng-model = "newStudent.archived" type="radio" name="optradio" value = "false">No</label>
    
<!--     <input type="radio" ng-model = "newStudent.archived" name="radAnswer" value = "true"> Yes </input>
    <input type="radio" ng-model = "newStudent.archived" name="radAnswer" value = "false"> No </input> -->

    <br>
    <br>
    <button class="btn btn-default" ng-click = "addStudent()" type="submit">Submit</button>
  
    <br>
    <br>
    <div class="alert alert-info" ng-show="studentAddedMsg">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> {{studentAddedMsg}}
    </div>


</form>