<div class="viz-form">

  <div class="form-group col-md-4">
    <label for="sel1">Data Type:</label>
    <select class="form-control" id="sel1" ng-model="chosenData">
      <option value="Stars">Stars</option>
      <option value="Attendance">Attendance</option>
      <option value="Warnings">Warnings</option>
      <option value="EngageContent">Engagement with Content</option>
      <option value="EngagePeer">Engagement with Peers</option>
      <option value="EngageAdult">Engagement with Adults</option>
    </select>
  </div>
  <div class="form-group col-md-4">
    <label for="sel1">Time Frame:</label>
    <select class="form-control" id="sel1" ng-model="chosenTimeframe">
      <option value="All">All</option>
      <option value="TwoWeeks">Last Two Weeks</option>
    </select>
  </div>

  <div class = "viz-bkg">
    <nvd3 ng-if="chosenData=='Attendance'" options="pieOptions" data="attendanceData"></nvd3>
    <nvd3 ng-if="chosenData=='Warnings'" options="pieOptions" data="warningData"></nvd3>
    <nvd3 ng-if="chosenData=='Stars'" options="pieOptions" data="starData"></nvd3>
    <nvd3 ng-if="chosenData=='EngageContent'" options="pieOptions" data="engageContentData"></nvd3>
    <nvd3 ng-if="chosenData=='EngagePeer'" options="pieOptions" data="engagePeerData"></nvd3>
    <nvd3 ng-if="chosenData=='EngageAdult'" options="pieOptions" data="engageAdultData"></nvd3>

  </div>
</div>
<link rel="stylesheet" type="text/css" href="/stylesheets/viz.css">
