<form class="form-inline row" role="form">
  <div class="col-sm-12">
    <div class="form-group">
      <label for="sel1">Data Type:</label>
      <select class="form-control" id="sel1" ng-model="chosenData">
        <option value="stars">Stars</option>
        <option value="attendance">Attendance</option>
        <option value="warnings">Warnings</option>
        <option value="engageContent">Engagement with Content</option>
        <option value="engagePeer">Engagement with Peers</option>
        <option value="engageAdult">Engagement with Adults</option>
      </select>
    </div>

    <div class="form-group">
      <label for="sel3">Data range</label>
      <select class="form-control" id="sel3" ng-model="timeFrame">
        <option value="7">Last Week</option>
        <option value="14">2 Weeks</option>
        <option value="30">Last Month</option>
        <option value="90">Three Months</option>
        <option value="180">Six Months</option>
        <option value="-1">All entries</option>
      </select>
    </div>
  </div>
</form>

<div class="viz-bkg row" ng-if="chosenData">
  <center><h3 class="chart-title">{{currentCohortName}}'s {{chosenData}}</h3></center>
  <nvd3 options="pieOptions" data="pieData"></nvd3>
</div>

<link rel="stylesheet" type="text/css" href="/stylesheets/viz.css">
