<div id="content-title" class="content" >
  <h3>{{currentCohortName}}</h3>
</div>
<div id="content-text" class="content" >
  Info: {{currentCohortInfo}}
</div>

<div id="exTab3" class="container">
  <ul class="nav nav-pills">
    <li ui-sref-active="active" class="tab active">
      <a ui-sref=".addEntry">Daily Entry</a>
    </li>
    <li ui-sref-active="active" class="tab">
      <a ui-sref=".showViz">Show Viz</a>
    </li>
  </ul>

  <div class="tab-content clearfix">
    <div class="tab-pane active">
      <div ui-view="cohortView"></div>
    </div>
    <div class="tab-pane">
      <div ui-view="cohortView"></div>
    </div>
  </div>
</div>

