<h2> Add a new long term entry </h2>
<form class="entryform" ng-submit="submitLongEntry(currentStudent)">
  <div class="row">
    <div class="col-sm-8">
      <div class="form-group">
        <label for="date">Date:</label>
        <input data-provide="datepicker" id="date" type="text" class="form-control datepicker" ng-model="newLongEntry.date" value="{{ date | date: 'mm/dd/yyyy' }}">
      </div>

      <div class="form-group control-group">
        <label class="control-label">Entry Time Length:</label>
        <div class="controls">
          <label class="radio-inline">
            <input ng-model="newLongEntry.timeLength" type="radio" name="optradio" value="Monthly">Monthly
          </label>
          <label class="radio-inline">
            <input ng-model="newLongEntry.timeLength" type="radio" name="optradio" value="Bi-Monthly">Bi-Monthly
          </label>
          <label class="radio-inline">
            <input ng-model="newLongEntry.timeLength" type="radio" name="optradio" value="9-weeks">9-weeks
          </label>
          <label class="radio-inline">
            <input ng-model="newLongEntry.timeLength" type="radio" name="optradio" value="Semester">Semester
          </label>
        </div>
      </div>

      <div class="form-group">
        <label>Grades from school:</label>
        <input type="text" ng-model="newLongEntry.grades" placeholder="John Doe got ..." class="form-control" required/>
      </div>

      <div class="form-group">
        <label>Reading Level:</label>
        <input type="text" ng-model="newLongEntry.readingLevels" placeholder="Input current reading level of student." class="form-control" />
      </div>

      <div class="form-group">
        <label>Teacher/Parents Feedback:</label>
        <textarea rows="3" ng-model="newLongEntry.teacherParentFeedback" placeholder="Input any teacher feedback." class="form-control span6" />
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <button class="btn btn-default" ui-sref="^">Cancel</button>
      <button class="btn btn-default" type="submit">Submit</button>
    </div>
  </div>

  <br>
  <br>
  <div class="alert alert-info" ng-show="entrySubmittedMsg">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> {{entrySubmittedMsg}}
  </div>
</form>
