<div class="user-settings">
	<div class="user-item" ng-if="user.isAdmin" ng-repeat="username in allUsers"> 
		{{username.email}} - {{username.isAdmin}} <button ng-if="user.email != username.email" ng-click="toggleAdmin(username)">Change Admin Status</button>
	</div>
	</br>
	
	<div class="change-password" >
	<form ng-submit="changePassword(user)">
		New Password: <input type="password" ng-model="currentPassword1" name="password1"> </br>
		Retype New Password: <input type="password" ng-model="$parent.currentPassword2" name="password2"> </br>
		<input type="submit" id="submitpass" value="Submit" >
	</form>
	</div>
</div>