<div class="row">
  <div id="content-title" class="content">
    <h3>{{currentStudent.name}}</h3>
  </div>
  <div id="content-text" class="content">
    <p>
      Student info goes here
      <chart-form></chart-form>
        <bar-chart height="options.height" data="data" hovered="hovered(args)"></bar-chart>
      <!-- {{currentStudent.info}} -->
    </p>
  </div>
</div>
<div ng-switch="$state.current.name.includes('addEntry')">
  <div ng-switch-when="true">
    <a ui-sref=".">- Add new entry</a>
  </div>
  <div ng-switch-when="false">
    <a ui-sref=".addEntry">+ Add new entry</a>
  </div>
</div>
<div ng-switch="$state.current.name.includes('editStudent')">
  <div ng-switch-when="true">
    <a ui-sref=".">- Edit student</a>
  </div>
  <div ng-switch-when="false">
    <a ui-sref=".editStudent">+ Edit student</a>
  </div>
</div>
<div ui-view="studentView"></div>