<div id="content-title" class="content">
  <h3>{{currentStudent.name}}</h3>
</div>
<div id="content-text" class="content">
  <p>
    Student info goes here
    <!-- {{currentStudent.info}} -->
  </p>


  <a ng-click="showAddEntry = !showAddEntry">+ Add new entry</a><br>
  <div class="entry-form" ng-show="showAddEntry">
    <center>
      <h2> Add a new entry </h2>
      <form class = "entryform">
        Date: <input type="date" ng-model="newEntry.date" value="{{ date | date: 'yyyy-MM-dd' }}" /><br>
        Attendance: <input type="radio" name="radAnswer" ng-model = "newEntry.attendance" value = "true"> Present </input><input type="radio" name="radAnswer" ng-model = "newEntry.attendance" value = "false"> Absent </input><br>
        GPA: <input type ="text" ng-model = "newEntry.grades" placeholder = "3.5" required = "" /><br>
        Additional Info: <input type="text" ng-model = "newEntry.data" placeholder = "Input more data" required = "" /><br>
        <button class="btn btn-default" ng-click = "submitNewEntry(currentStudent)" type="submit">Submit</button>
      </form>
    </center>
  </div>


  <a ng-click="showEditEntry = !showEditEntry">+ Edit entry</a><br>
  <div ng-show="showEditEntry">
    Edit some entry here
  </div>


  <a ng-click="showEditStudent = !showEditStudent">+ Edit student</a><br>
  <div class="edit-form" ng-show="showEditStudent">
    <form class="studentform">
      <center>
        <h2>Edit {{currentStudent.name}}'s Info</h2>
        <br>
        Name:
        <input type ="text" ng-model = "currentStudent.name" placeholder = "currentStudent.name" required = "" /> <br>
        <br>
        Program:
        <select  id="programs" ng-model = "currentStudent.program" ng-init="currentStudent.program = currentStudent.program">
          <option value="Little Spring">Little Spring</option>
          <option value="Big Spring">Big Spring</option>
          <option value="Baby Spring">Baby Spring</option>
        </select>
        <br>
        </input>
        Archived: <input type="radio" ng-model = "currentStudent.archived" ng-init="currentStudent.archived = currentStudent.archived" name="radAnswer" value = "true"> Yes </input><input type="radio" ng-model = "currentStudent.archived" name="radAnswer" value = "false"> No </input>
        <button class="btn btn-default" ng-click = "submitEditStudent(currentStudent)" type="submit">Submit</button>
      </center>
    </form>
  </div>

</div>