<div class="row">
  <div id="content-title" class="content">
    <h1>{{currentStudent.name}}</h1>
    <h5>{{currentStudent.program}}</h5>

  </div>
  <div>
    <div ng-if="currentStudent.actionSteps" class="alert alert-info" ng-show="currentStudent.actionSteps" style="background-color: #D3F2EF; color:#183635">
     Action Steps:  {{currentStudent.actionSteps}}
    </div>

  </div>
</div>
<br>
<div id="exTab3" class="container">
  <ul class="nav nav-pills">
    <li ui-sref-active="active" class="tab active">
      <a ui-sref=".showData">View data</a>
    </li>
    <li ui-sref-active="active" class="tab">
      <a ui-sref=".addEntry">Daily Entry</a>
    </li>
    <li ui-sref-active="active" class="tab">
      <a ui-sref=".addLongEntry">Long-Term Entry</a>
    </li>
    <li ui-sref-active="active" class="tab">
      <a ui-sref=".showd3">Visualizations</a>
    </li>
    <li ui-sref-active="active" class="tab">
      <a ui-sref=".editStudent">Edit Student</a>
    </li>
  </ul>

  <div class="tab-content clearfix">
    <div class="tab-pane active">
      <div ui-view="studentView"></div>
    </div>
  </div>
</div>

<link href="stylesheets/tabs.css" rel="stylesheet">