<div ng-controller="loginCtrl">
  <div class="container">
    <form role="form" class="form-signin" ng-submit="login()">
      <h2 class="form-signin-heading">Please sign in</h2>
      <div class="form-group" id="email-group">
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" ng-model="email" autofocus required>
        <span ng-show="email_error" class="help-block">{{email_error}}</span>
      </div>
      <div class="form-group" id="password-group">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="password" required>
        <span ng-show="password_error" class="help-block">{{password_error}}</span>
      </div>
      <div class="checkbox">
        <label>
        <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <div class="alert alert-info" ng-show="verification_alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        A verification email has been sent to {{email}}
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <button type='button' class="btn btn-lg btn-primary btn-block" ng-click="register()">Register</button>
    </form>
  </div>
  <!-- /container -->
</div>
