<div id="main-container">
 
		<!-- Sidebar -->
		<div id="sidebar-container" class="sidebar">
			<div id="searchbar" class="sidebar">searchbar</div>
			<div id="settings" class="sidebar">settings</div>
			<div id="sidebar-items" class="sidebar">
			    <div class="student-item" ng-repeat="student in students">stu {{student._id}}</div>
			</div>
		</div>

		<!-- Main content -->
		<div id="content-container" class="content">
			<div id="content-title" class="content"><h3>title of page</h3></div>
			<div id="content-text" class="content">some info about something</div>
		</div>

		<!-- Header maybe -->
		<div id="header-container" class="header">
		</div>

</div>